@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

/* Instrument Serif */
.instrument-serifs {
    font-family: "Instrument Serif", serif;
    font-style: normal;
    font-size: 7rem;
}

/* Pengaturan posisi image-image */
.bg-section {
    min-height: 100vh;
    /*  min-height fleksibel di HP */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* Default center  */
    background-size: cover;
}

/* style untuk tiap section */
.section-1 {
    background-color: black;
    background-image: url(assets/chunli.png);
    background-position: 6px -5px;
}

.section-2 {
    background-color: black;
    background-image: url(assets/ryu.png);
    background-position: 6px -5px;
}

.section-3 {
    background-color: black;
    background-image: url(assets/ken.png);
    background-position: 6px -5px;
}

.section-4 {
    background-color: black;
    background-image: url(assets/guile.png);
    background-position: 6px -5px;
}

.section-5 {
    background-color: black;
    background-image: url(assets/kyo.png);
    background-position: 6px -5px;
}

.section-6 {
    background-color: black;
    background-image: url(assets/mai.png);
    background-position: 6px -5px;
}

.section-7 {
    background-color: black;
    background-image: url(assets/shop.png);
    background-position: 6px -5px;
}

/* Layar Hp) */
@media (max-width: 767px) {

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .section-7 {

        background-position: center center !important;

    }
}

.jc-store {
    color: rgb(0, 195, 255);
}

/*navbar custom*/
.navbar-custom .nav-link:hover {
    color: rgb(0, 195, 255) !important;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/*Navbar pop-up custom*/
@media (max-width: 991px) {
    .navbar .container-xxl {
        position: relative;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        width: 1;
        background-color: rgba(10, 10, 10, 0.95);
        padding: 20px;
        border-radius: 12px;
        border: 1px solid rgba(0, 195, 255, 0.2);
        z-index: 9999;
        margin-top: 10px;
        box-shadow: 0px -10px 30px rgba(0, 195, 255, 0.1);
       
}

    .navbar-nav {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-custom .nav-link {
        text-align: right !important;
        align-items: flex-and !important;
        padding-right: 10px;
    }
}



body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Joki Central + Carousel Config */
.tc-center {
    flex: 1;
    display: flex;
    align-items: center;
    /* vertikal */
    justify-content: center;
    /* horizontal */
    width: 100%;
    padding: 100px 10px;
}

/* Adjustment carousel first page */
@media (min-width: 768px) {
    .carousel-item img {
        height: 500px;
        object-fit: cover;
    }
}

/* Adjustment text joki central */
@media (min-width: 768px) {
    .geser-kiri {
        position: relative;
        right: 100px;
    }
}