/*pengaturan posisi image image */
.bg-section {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

/*first image */
.section-1 {
    background-color: black;
    background-image: url(assets/chunli.png);
    background-position: 16.5px  -39px;
}

/*second image */
.section-2 {
    background-color: black;
    background-image: url(assets/ryu.png);
    background-position: 6px -5px ;
}
/*biar image bisa diatur */
body {
    margin: 0;
    padding: 0;
    background-color: black;

}  