@import url(scale.css);
@import url(navbar.css);
@import url(bg-section.css);
@import url(card.css);
@import url(carousel.css);
@import url(comment.css);
@import url(animation.css);
@import url(adjustment.css);
@import url(game-shop.css);
@import url(font.css);



* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
}